@model IEnumerable<Sistratur.Modelos.Modelos.Proveedor>

@{
    ViewBag.Title = "Index";
}

<br />
<h2>Lista de Proveedores</h2>
<hr />

<div class="panel-body">
    <table class="table table-condensed table-striped">
        <tr class="info text-primary" style="font-size:12.5px; text-align:center">
            <th>
                RUC
            </th>
            <th>
                Razón Social
            </th>
            <th>
                Representante
            </th>
            <th>
                Dirección
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Celular
            </th>
            <th>
                E-mail
            </th>
            <th>
                Ciudad
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ruc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RazonSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Representante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Celular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ciudad.Descripcion)
                </td>
            </tr>
        }

    </table>
</div>