<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SISTRATUR</title>
    @*Icono de la Página Web*@    
    <link href="~/icon-navi.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/bootstrap-blue-theme.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap-select.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/calendar.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap-formhelpers.min.css")" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SISTRATUR", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Inicio", "Index", "Home")</li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Clientes <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Listar Clientes", "Index", "Cliente")</li>
                                <li>@Html.ActionLink("Registrar Cliente", "Create", "Cliente")</li>
                                <li>@Html.ActionLink("Editar Cliente", "Building", "Home")</li>
                                <li>@Html.ActionLink("Eliminar Cliente", "Building", "Home")</li>
                            <li class="divider"></li>
                                <li>@Html.ActionLink("Buscar Cliente", "Building", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Alquiler <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Listar Alquileres", "Index", "Alquiler")</li>
                            <li>@Html.ActionLink("Registrar Alquiler", "Create", "Alquiler")</li>
                            <li>@Html.ActionLink("Editar Alquiler", "Building", "Home")</li>
                            <li>@Html.ActionLink("Eliminar Alquiler", "Building", "Home")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Buscar Alquiler", "Building", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Vehículos <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Listar Vehículos", "Index", "Vehiculo")</li>
                            <li>@Html.ActionLink("Registrar Vehículo", "Create", "Vehiculo")</li>
                            <li>@Html.ActionLink("Editar Vehículos", "Building", "Home")</li>
                            <li>@Html.ActionLink("Eliminar Vehículo", "Building", "Home")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Buscar Vehículo", "Building", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Artículos <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Listar Artículos", "Building", "Home")</li>
                            <li>@Html.ActionLink("Registrar Artículo", "Building", "Home")</li>
                            <li>@Html.ActionLink("Editar Artículo", "Building", "Home")</li>
                            <li>@Html.ActionLink("Eliminar Artículo", "Building", "Home")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Buscar Artículo", "Building", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Proveedores <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Listar Proveedores", "Index", "Proveedor")</li>
                            <li>@Html.ActionLink("Registrar Proveedor", "Create", "Proveedor")</li>
                            <li>@Html.ActionLink("Editar Proveedor", "Building", "Home")</li>
                            <li>@Html.ActionLink("Eliminar Proveedor", "Building", "Home")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Buscar Proveedor", "Building", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Administración <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Tipos de Combustibles", "Building", "Home")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Colores de Vehículos", "Building", "Home")</li>
                        </ul>
                    </li>
                    @*<li>@Html.ActionLink("Acerca de", "About", "Home")</li>*@
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*<script src="@Url.Content("~/Scripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-select.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-formhelpers.js")" type="text/javascript"></script>*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
