@model Sistratur.Modelos.Modelos.Cliente

@{
    ViewBag.Title = "Crear Cliente";
}

<script type="text/javascript">
    function mostrar(id) {
        if (id == "True") {
            $("#Appellidos").show();
            $("#AppPaterno").show();
            $("#AppMaterno").show();
            $("#NroDocumento").val("");
            $("#NroDocumento").attr('maxlength', '8');
            $("#lblNombRazSoc").text("Nombres");
	    }
        if (id == "False") {
            $("#Appellidos").hide();
            $("#AppPaterno").hide();
            $("#AppMaterno").hide();
            $("#AppPaterno").val("");
            $("#AppMaterno").val("");
            $("#NroDocumento").val("");
            $("#NroDocumento").attr('maxlength', '11');
            $("#lblNombRazSoc").text("Razon Social");
	    }
    }

    function ValidateNumber(evt) {
        //var charCode = (evt.which) ? evt.which : event.keyCode
        //if (charCode > 31 && (charCode < 48 || charCode > 57))
        //    return false;

        //return true;
    }

</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <br />
    <h2>Registrar Cliente</h2>
    <hr />
        <div class="row clearfix">
            <div class="col-md-4 column">
                <div class="panel panel-primary" style="width:78%">
                    <div class="panel-heading">
                        <b>Tipo de Documento</b>
                    </div>
                    <div class="panel-body">
                        @Html.RadioButton("TipoDocumento", "True", true, new { onChange = "mostrar(this.value)", style = "width:20px;" }) <b style="color:#555555 ">DNI</b>&nbsp;&nbsp;<img src="~/Content/icons/dni-icon.png" width="24px" />&nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.RadioButton("TipoDocumento", "False", false, new { onChange = "mostrar(this.value)", style = "width:20px;" }) <b style="color:#555555">RUC</b>&nbsp;&nbsp;<img src="~/Content/icons/ruc-icon.png" width="24px" />&nbsp;&nbsp;
                        @Html.ValidationMessageFor(model => model.TipoDocumento)
                    </div>
                    <div class="editor-field">
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>N°</b>&nbsp;&nbsp;@Html.TextBoxFor(model => model.NroDocumento, new { maxlength = "8", size = "50px", style = "width:50%;" })
                            @Html.ValidationMessageFor(model => model.NroDocumento, "", new { @class = "text-danger" })
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-9 column">
                <div class="panel panel-primary">
                    <div class="panel-body">

                        <div class="row clearfix">
                            <div class="col-md-5 column">

                                <div class="editor-label">
                                    @Html.Label("Nombres", new { id = "lblNombRazSoc" })
                                </div>
                                <div class="editor-field">
                                    <div class="input-group">
                                        <div class="input-group-addon"><img src="~/Content/icons/name-icon.png" width="18px" /></div>
                                        @Html.TextBoxFor(model => model.NombresRazonSocial, new { style = "width:257px;  height:36px; padding-left: 10px;" })
                                    </div>
                                    <p>
                                        @Html.ValidationMessageFor(model => model.NombresRazonSocial, "", new { @class = "text-danger" })
                                    </p>
                                </div>

                                <div id="Appellidos">
                                    <div class="editor-field">
                                        @Html.Label("Appellido Paterno")
                                    </div>
                                    <div class="editor-field">
                                        <div class="input-group">
                                            <div class="input-group-addon"><img src="~/Content/icons/apps-icon.png" width="18px" /></div>
                                            @Html.TextBoxFor(model => model.AppPaterno, new { style = "width:257px;  height:36px; padding-left: 10px;" })
                                        </div>
                                        <p>
                                            @Html.ValidationMessageFor(model => model.AppPaterno, "", new { @class = "text-danger" })
                                        </p>
                                    </div>
                                    <div class="editor-field">
                                        @Html.Label("Appellido Materno")
                                    </div>
                                    <div class="editor-field">
                                        <div class="input-group">
                                            <div class="input-group-addon"><img src="~/Content/icons/apps-icon.png" width="18px" /></div>
                                            @Html.TextBoxFor(model => model.AppMaterno, new { style = "width:257px;  height:36px; padding-left: 10px;" })
                                        </div>
                                        <p>
                                            @Html.ValidationMessageFor(model => model.AppMaterno, "", new { @class = "text-danger" })
                                        </p>
                                    </div>
                                </div>


                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Celular)
                                </div>
                                <div class="editor-field">
                                    <div class="input-group">
                                        <div class="input-group-addon"><img src="~/Content/icons/cellphone-icon.png" width="18px" /></div>
                                        @Html.TextBoxFor(model => model.Celular, new { style = "width:257px;  height:36px; padding-left: 10px;" })
                                    </div>
                                    <p>
                                        @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
                                    </p>
                                </div>

                                <div class="editor-label">
                                    @Html.Label("Teléfono")
                                </div>
                                <div class="editor-field">
                                    <div class="input-group">
                                        <div class="input-group-addon"><img src="~/Content/icons/phone-icon.png" width="18px" /></div>
                                        @Html.TextBoxFor(model => model.Telefono, new { style = "width:257px;  height:36px; padding-left: 10px;" })
                                    </div>
                                    <p>
                                        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                    </p>
                                </div>

                            </div>

                            <div class="col-md-1 column">
                            </div>
                            <div class="col-md-4 column">
                                <div class="editor-label">
                                    @Html.Label("Dirección")
                                </div>
                                <div class="editor-field">
                                    <div class="input-group">
                                        <div class="input-group-addon"><img src="~/Content/icons/house-icon.png" width="18px" /></div>
                                        @Html.TextBoxFor(model => model.Direccion, new { style = "width:257px;  height:36px; padding-left: 10px;" })
                                    </div>
                                    <p>
                                        @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                                    </p>
                                </div>
                                <div class="editor-label">
                                    @Html.Label("E-mail")
                                </div>
                                <div class="editor-field">
                                    <div class="input-group">
                                        <div class="input-group-addon"><img src="~/Content/icons/email2-icon.png" width="18px" /></div>
                                        @Html.TextBoxFor(model => model.Email, new { style = "width:257px;  height:36px; padding-left: 10px;" })
                                    </div>
                                    <p>
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </p>
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Comentarios)
                                </div>
                                <div class="editor-field">
                                    <p>
                                        @Html.TextAreaFor(model => model.Comentarios, new { style = "width:325px; height:175px; padding-left: 10px;" })
                                        @Html.ValidationMessageFor(model => model.Comentarios, "", new { @class = "text-danger" })
                                    </p>
                                </div>
                                @Html.TextBoxFor(model => model.FechaRegistro, new { @Value = @DateTime.Now.ToShortDateString(), @class = "hidden" })
                                @*
                                <div class="editor-label">
                                    Oculto para que envie por Defecto
                                        @Html.Label("Fecha de Registro")
                                    </div>
                                    <div class="editor-field">
                                         <p>
                                            Html.TextBoxFor(model => model.FechaRegistro, new { @Value = @DateTime.Now.ToShortDateString(), @class = "hidden" })
                                        </p>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-9 column" style="text-align:center">
                <p>
                    <button type="submit" class="btn btn-success">GRABAR</button>&nbsp;&nbsp;
                    <a href="@Url.Action("Index", "Cliente")" class="btn btn-danger" style="margin: auto; color: #ffffff;">
                        CANCELAR
                    </a>
                </p>
            </div>
        </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


